body {
     background-color: #F0F0F0; /* Try these other color options: 00BEAA, DCB300, FFDB3D, 4D89F6, A1C0FA */
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header { 
     color: #000000; 
     font-size: 20pt; }
h1 {
     text-shadow: 1px 1px 1px #000000;
     /* text-align: center; */
     padding: 2%;
     /* padding-left: 11%; */
     margin: 0;
}
h2 {
     font-size: 1.2em;
     color: #152B54;
}
nav {
     display: none;
}
footer {
     font-size: .75em;
     font-style: italic;
     text-align: center;
     background-color: #AEC3EC; 
     clear: both;
}
main {
     font-family: "Times New Roman", serif; 
     font-size: 12pt;
}
#wrapper { 
     background-color: #EAEAEA;
     /* min-width: 1000px;
     max-width: 1280px; */
     width: 80%;
     margin-left: auto;
     margin-right: auto; 
}

/* Button on index */
.myButton {
	box-shadow:inset 0px 1px 2px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border:2px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:12px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
 .myButton:active {
	position:relative;
	top:1px;
}

.floatright {
     margin: 10px;
     float: right;
}